<!-- 
<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path, style: 'color: white;' %></li>
	</ul>
</nav>
-->


<h1>Whatever dog, what's up?</h1>
	<p>Still just testing this out</p>
