<!-- 
<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_path, style: 'color: white;' %></li>
	</ul>
</nav>
-->

<h1>Hello everyone. Welcome to my app</h1>
	<p>I'm just playing with a few links here. <%= link_to "Check them out here!", "http://www.apple.com" %></p>
